body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.img-sanvicente{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.grid{
    margin: 30px;
    display: grid;
    height: 60%;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(350px, 430px));
    grid-auto-rows: 130px;
}

.div-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-solicitud{
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1rem;
}

.input-solicitud:focus{
    outline: 1px solid #999;
}

.div-boton{
    display: flex;
    justify-content: center;
}

.textarea{
    width: 80%;
    height: 90%;
    resize: none;
}

.select{
    width: 222px;
}

.linea{
    border-bottom: 1px solid #007048;
}

#div-obs{
    grid-column: 2 / 3;
    grid-row: 3 / 4;   
}

.btn{
    background-color: #95BE27;
    padding: 10px;
    width: minmax(100px, 180px);
    height: 50px;
    border: 1px solid #007048;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: background-color .5s, border .5s;
}

.btn:hover {
    background-color: #288b28;
    border: 1px solid #95BE27;
    cursor: pointer;
}

#contenido-oculto{
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición suave */
}

.div-oculto{
    opacity: 0;
    visibility: hidden; /* Ocultar el elemento */
}


@media screen and (max-width: 1098px) {
    .grid{
        grid-template-columns: repeat(2, minmax(350px,1fr));
    }
}

@media screen and (max-width: 750px) {
    .grid{
        grid-template-columns: repeat(1, minmax(350px,1fr));
        gap: 0px;
    }
}